
table
{
    border: 0;
    width: inherit !important;
}
td
{
    border: 0;
}
.box
{
    background-color: #eee;
    border: 1px solid #ccc;
    margin: 0 0 20px 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.box h1
{
    padding: 8px 5px 8px 12px;
    background: url(../img/box.png) repeat-x;
}
div #wrapper
{
    width: 1080px;
}
p
{
    margin: 5px 15px 5px 15px;
}
ul
{
    padding: 5px 0px 0px 25px;
}
ul li
{
    background: inherit !important;
    padding-bottom: 3px;
    padding-right: 15px;
    list-style-type: inherit !important;
    list-style-position: inherit !important;
    list-style-image: inherit !important;
}


/*********************************************************
    Publication Links
 *********************************************************/
a.urlLink
{
    background: url("http://cs.ua.edu/~syriani/images/url.png") center right no-repeat;
    padding-right: 15px;
}
a.htmlLink
{
    background: url("http://cs.ua.edu/~syriani/images/html.png") center right no-repeat;
    padding-right: 15px;
}
a.pdfLink
{
    background: url("http://cs.ua.edu/~syriani/images/pdf.png") center right no-repeat;
    padding-right: 15px;
}
a.pptLink
{
    background: url("http://cs.ua.edu/~syriani/images/ppt.png") center right no-repeat;
    padding-right: 15px;
}
span.award
{
    background: url("http://cs.ua.edu/~syriani/images/award.png") center right no-repeat;
    background-size: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    min-width: 25px;
}
a.doiLink
{
    background: url("http://cs.ua.edu/~syriani/images/doi.png") center right no-repeat;
    padding-right: 18px;
}
a.elsevierLink
{
    background: url("http://cs.ua.edu/~syriani/images/elsevier.png") center right no-repeat;
    padding-right: 21px;
    text-decoration: none;
    color: #900;
}
a.ieeeLink
{
    background: url("http://cs.ua.edu/~syriani/images/ieee.png") center right no-repeat;
    padding-right: 21px;
    text-decoration: none;
    color: #900;
}
a.ieeecsLink
{
    background: url("http://cs.ua.edu/~syriani/images/ieee-cs.jpeg") center right no-repeat;
    padding-right: 21px;
    text-decoration: none;
    color: #900;
}
a.acmLink
{
    background: url("http://cs.ua.edu/~syriani/images/acm.png") center right no-repeat;
    padding-right: 19px;
    text-decoration: none;
    color: #900;
}

ol.ref
{
    list-style-type: none;
    counter-reset: refCounter;
}
ol.ref li:before
{
    content: "[" counter(refCounter, decimal) "] ";
    counter-increment: refCounter;
    float: left;
    width: 2em;
}

ol.ref li
{
    display: block;
    padding-top: 10px;
    font-size: 13px;
    font-family: Verdana;
}

#download
{
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    width: 180px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #970000;
    background: #970000;
    border-radius: 10px 10px; /* IE */
    -moz-border-radius: 10px 10px; /* Mozilla */
    -webkit-border-radius: 10px 10px; /* Safari */
    -o-border-radius: 10px 10px; /* Opera */
}

#download a
{
    text-decoration: none;
    color: #FFFFFF;
}

#download:hover
{
    background-color: #610000;
}

p.download_latest
{
    margin: 10px auto 20px auto;
    padding: 20px;
    text-align: center;
}

a.download_latest
{
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #970000;
    box-shadow: 5px 5px 5px #888888; /* IE */
    -moz-box-shadow: 5px 5px 5px #888888; /* Mozilla */
    -webkit-box-shadow: 5px 5px 5px #888888; /* Safari */
    -o-box-shadow: 5px 5px 5px #888888; /* Opera */
    border-radius: 8px 8px; /* IE */
    -moz-border-radius: 8px 8px; /* Mozilla */
    -webkit-border-radius: 10px 10px; /* Safari */
    -o-border-radius: 10px 10px; /* Opera */
    transition: all 0.2s ease-in-out; /* IE */
    -moz-transition: all 0.2s ease-in-out; /* Mozilla */
    -webkit-transition: all 0.2s ease-in-out; /* Safari */
    -o-transition: all 0.2s ease-in-out; /* Opera */
}

a.download_latest:hover
{
    background-color: #7C0000;
}

a.download_latest:active
{
    background-color: #610000;
    box-shadow: inset 5px 5px 5px #888888; /* IE */
    -moz-box-shadow: inset 5px 5px 5px #888888; /* Mozilla */
    -webkit-box-shadow: inset 5px 5px 5px #888888; /* Safari */
    -o-box-shadow: inset 5px 5px 5px #888888; /* Opera */
}

#topbar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    background: lightyellow;
    z-index: 100;
    display: none;
    color: #FF0000;
    border: 1px solid #B5B500;
    text-align: center;
    cursor: pointer;
}

#topbar a
{
    color: #FF0000;
}
